<header class="header">
    <div class="logo">
        <a href="index.html"><img src="assets/img/logo.webp" alt="Logo" /></a>
        <h2>Fastest Food</h2>
    </div>
    <button class="menu-toggle">☰</button>
    <nav class="navigation">
        <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="cart.html" id="cart-link">Cart</a></li>
        </ul>
    </nav>
</header>