/* Cart */
.cart-item {
    background-color: #dddcdb;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.cart-item img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.cart-item-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: left;
    margin: 10px 20px;
}

.cart-item-name, .cart-item-description {
    margin:0px;
}

.cart-item-name {
    font-size: 25px;
}

.cart-item-description {
    font-size: 16px;
}

/* Item counts */
.cart-item-price, .cart-total-price{
    padding: 0px 20px;
    margin:0px;
    font-size:25px;
}

.cart-total-price {
    font-size:30x;
    width: 100%;
}

.cart-count {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 45px;
}

#cart-item-remove, #cart-item-clear {
    height: 35px;
    width: 100px;
    font-size: 18px;
    margin-left:20px;
}

.cart-count button {
    height: 35px;
    width: 35px;
    font-size: 20px;
}

.cart-button {
    background-color: rgb(160, 46, 18);
    border: none;
    border-radius: 10px;
    padding-bottom:2px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-count button:hover {
    background-color: rgb(212, 124, 102) /* Lighter color when disabled */
}

.cart-count button:disabled {
    background-color: rgb(97, 17, 11) /* Lighter color when disabled */
}

.empty-cart-message {
    font-size: 20px;
}


/* Mobile */
@media (max-width: 768px) {
    .cart-item img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .cart-count {
        flex:1;
        padding: 0px 10px;
        justify-content: space-around;
    }
    .cart-count button {
        height: 35px;
        width: 40px;
        font-size: 20px;
    }
    .cart-item{
        flex-wrap: wrap;
    }
}