/* Menu */
.menu {
    background-color: #fff;
    padding: 20px 20px 30px 20px;
    text-align: center;
    display: flex;
    gap: 20px;
    min-height: 3em;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: center;
}

.menu h2 {
    margin: 0px;
    width: 100%;
}

.menu-item {
    background-color: #dddcdb;
    padding: 15px;
    border-radius: 15px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 355px;
}

.menu-item img {
    max-width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.menu-item h3 {
    margin: 10px 0 5px;
}

.menu-item p {
    font-size: 14px;
    margin: 5px 0;
    flex-grow: 1;
    overflow: hidden;
}

.menu-price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 8px 0px 8px;
}

.menu-item .price {
    font-weight: bold;
    color: #d33b3b;
    font-size: 20px !important;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: auto;
    align-items: center;
}

.menu-button {
    background-color: rgb(160, 46, 18);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 130px;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: rgb(212, 124, 102) /* Lighter color when disabled */
}

.menu-button:disabled {
    background-color: rgb(97, 17, 11) /* Lighter color when disabled */
}

/* Mobile */
@media (max-width: 768px) {
    .menu-container {
        overflow-x: auto;
        white-space: nowrap;
    }
  
    .menu-items {
        flex-direction: row;
        overflow-x: auto;
        padding-bottom: 10px;
    }
  
    .menu-item {
        flex: 0 0 auto;
        width: 230px;
    }
}